export(abs.diffs)
export(analyze.multi)
export(analyze.rwty)
export(analyze.single)
export(clade.freq)
export(compare.n)
export(continuous.distance)
export(continuous.ess)
export(cummean)
export(cumulative.freq)
export(get.sequential.distances)
export(get.sequential.distances.c)
export(load.trees)
export(mds.treespace)
export(p.from.ranked.list)
export(pairwise.RF)
export(parse.clades)
export(plawty)
export(plot.cladeprobs)
export(plot.cladevar)
export(plot.tree.ess)
export(plot.treespace)
export(rwty)
export(slide.freq)
export(tree.dist.matrix)
export(tree.distance)
export(tree.ess)
export(treespace.single)
